<!-- Message Modal -->
<div id="message-modal"  class="fixed top-5 left-1/2 transform -translate-x-1/2 z-50 w-full px-4 sm:px-0 hidden">
  <div class="bg-gray-900 ring-2 text-white flex justify-between items-center py-4 px-4 sm:px-6 rounded-xl shadow-lg max-w-sm w-full mx-auto text-center animate-fade-in relative">
    
    <!-- Modal Content -->
    <div class="flex items-center gap-2 justify-center">
      <div id="modal-icon" class="text-2xl">  </div>
      <h2 id="modal-message" class="text-base sm:text-lg font-semibold">  </h2>
    </div>

    <!-- Close Button -->
    <button onclick="hideModal()" class="absolute right-3 top-4 text-xl text-gray-400 hover:text-red-500">&times;</button>
  </div>
</div>